@charset "utf-8";


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
    .webenglish #container {
        width: 100%;
        position: relative;
        left: 0px;
        top: 0px;
    }

    .webenglish #adheader {
        width: 1024px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    div.headerads {
        width: 728px;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    div.headerenotes {
        width: 281px;
        position: absolute;
        top: 0px;
        left: 738px;
    }

    .webenglish #header {
        width: 1024px;
        position: absolute;
        top: 110px;
        left: 0px;
    }

    div.headertwitter {
        width: 116px;
        position: absolute;
        top: 10px;
        left: 652px;
    }

    div.headerfacebook {
        width: 116px;
        position: absolute;
        top: 10px;
        left: 768px;
    }

    div.headershare {
        width: 175px;
        position: absolute;
        top: 15px;
        left: 804px;
    }

    .webenglish #pagecontent {
        width: 1024px;
        position: absolute;
        top: 210px;
        left: 0px;
    }

    .webenglish #leftcontent {
        width: 724px;
    }

    .webenglish #leftcontenttop {
        width: 724px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .webenglish #leftcontentbottom {
        width: 724px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .webenglish #rightcontent {
        width: 300px;
    }

    .wetlogo {
        position: relative;
        top: 0px;
        left: 0px;
    }

    div.sidenewsletter {
        width: 175px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    div.sidenewslettertext {
        font-size: 13px;
        width: 155px;
        position: relative;
        left: 10px;
        top: 10px;
    }

    div.sidenewsletter-in {
        width: 724px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    div.sidenewslettertext-in {
        font-size: 13px;
        width: 704px;
        position: relative;
        left: 10px;
        top: 10px;
    }

    div.sidearticle {
        width: 549px;
        position: absolute;
        left: 175px;
        top: 0px;
    }

    div.sidearticletext {
        font-size: 13px;
        width: 509px;
        position: relative;
        left: 20px;
        top: 10px;
    }

    div.sidearticletext a, div.sidearticletext a:visited {
        font-size: 13px;
    }

    div.sidearticletext a:hover {
        font-size: 13px;
    }

    div.sidenav {
        width: 175px;
        position: absolute;
        left: 0px;
        top: 125px;
    }

    div.sidenav3 {
        width: 175px;
        position: absolute;
        left: 0px;
        top: 55px;
    }

    div.sidenavtext {
        width: 140px;
        position: absolute;
        left: 25px;
        top: 30px;
    }

    div.sidenavtext ul, div.sidenavtext li {
        font-size: 11px;
    }

    div.sidenavtext a, div.sidenavtext a:visited {
        font-size: 11px;
    }

    div.sidenavtext a:hover {
        font-size: 11px;
    }

    div.mainContent {
        width: 549px;
        position: absolute;
        left: 175px;
        top: 125px;
    }

    div.page404 {
        font-size: 13px;
    }

    div.mainContent3 {
        width: 549px;
        position: absolute;
        left: 175px;
        top: 55px;
    }

    div.mainContentText {
        font-size: 13px;
        width: 509px;
        position: absolute;
        left: 20px;
        top: 10px;
    }

    div.mainContentText a, div.mainContentText a:visited {
        font-size: 13px;
    }

    div.mainContentText a:hover {
        font-size: 13px;
    }

    div.rightbannerad {
        width: 300px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    div.enotes {
        width: 280px;
        position: relative;
        left: 10px;
        top: 10px;
    }

    div.ETT {
        width: 280px;
        position: relative;
        left: 10px;
        top: 10px;
    }

    div.laborlaw {
        width: 280px;
        position: relative;
        left: 10px;
        top: 10px;
    }

    div.summer {
        width: 280px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    div.siteteacher {
        width: 280px;
        position: relative;
        left: 10px;
        top: 30px;
    }

    div.literacysite {
        width: 280px;
    }

    div.sidebar2 {
        width: 300px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    div.footer {
        font-size: 11px;
        width: 509px;
    }

    div.footer a, div.footer a:visited, div.footer a:hover {
        font-size: 11px;
    }

    /* FONTS */
    h1, h3, h4 {
        font-size: 25px;
    }

    a {
        font-size: 11px;
    }

    a:link {
        font-size: 11px;
    }

    a:visited {
        font-size: 11px;
    }

    a:hover {
        font-size: 11px;
    }

    td {
        font-size: 11px;
    }

    th {
        font-size: 11px;
    }

    h2, h4, h5, h6 {
        font-size: 15px;
    }

    .style2 {
        font-size: 11px;
    }

    .style3 {
        font-size: 13px;
    }

    .style4 {
        font-size: 13px;
    }

    .style5 {
        font-size: 15px;
    }

    .style6 {
        font-size: 11px;
    }

    .level6 {
        font-size: 11px;
    }

    /* TOP NAVIGATION */
    div.horizontal {
        width: 609px;
        position: absolute;
        top: 67px;
        left: 415px;
    }

    div.nav-home {
        width: 129px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    div.nav-blog {
        width: 183px;
        position: absolute;
        top: 0px;
        left: 129px;
    }

    div.nav-sitemap {
        width: 156px;
        position: absolute;
        top: 0px;
        left: 312px;
    }

    div.nav-contact {
        width: 141px;
        position: absolute;
        top: 0px;
        left: 468px;
    }

    div.nav-home ul, div.nav-blog ul, div.nav-sitemap ul, div.nav-contact ul {
    }

    div.nav-home li, div.nav-blog li, div.nav-sitemap li, div.nav-contact li {
    }

    div.nav-home a {
        width: 129px;
    }

    div.nav-blog a {
        width: 183px;
    }

    div.nav-sitemap a {
        width: 156px;
    }

    div.nav-contact a {
        width: 141px;
    }

    div.nav-home a:link, div.nav-home a:visited, div.nav-blog a:link, div.nav-blog a:visited, div.nav-sitemap a:link, div.nav-sitemap a:visited, div.nav-contact a:link, div.nav-contact a:visited {
        font-size: 13px;
    }

    div.nav-home a:hover, div.nav-home a:active {
        font-size: 13px;
    }

    div.nav-blog a:hover, div.nav-blog a:active {
        font-size: 13px;
    }

    div.nav-sitemap a:hover, div.rss a:active {
        font-size: 13px;
    }

    div.nav-contact a:hover, div.nav-contact a:active {
        font-size: 13px;
    }

    .table-parent {
        width: 1024px;
    }

    .table-child {
        width: 549px;
    }
}


