@charset "utf-8";
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000;
    height: 100%;
    background-image: url(../cgimages/wet-background.gif);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

.webenglish #container {
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
}

.webenglish #adheader {
    height: 110px;
    background: #9bc14e;
    padding: 0px 0px 0px 0px;
    background-image: url(../cgimages/adheader_green.gif);
    background-repeat: repeat-x;
}

div.headerads {
    height: 90px;
}

div.headerenotes {
    height: 100px;
}

.webenglish #header {
    height: 103px;
    padding: 0 0 0 0;
}

div.headertwitter {
    height: 25px;
}

div.headerfacebook {
    height: 25px;
}

div.headershare {
    text-align: right;
}

.webenglish #pagecontent {
    padding: 0 0 0 0;
}

.webenglish #leftcontent {
    float: left;
    padding: 0 0 0 0;
}

.webenglish #leftcontenttop {
    padding: 0 0 0 0;
}

.webenglish #leftcontentbottom {
    padding: 0 0 0 0;
}

.webenglish #rightcontent {
    float: right;
    height: 970px;
    background-image: url(../cgimages/sidebar2_green.gif);
    background-repeat: repeat-y;
    padding: 0 0 0 0;
}

.wetlogo {
    border: none;
}

div.sidenewsletter {
    height: 125px;
    background-image: url(../cgimages/sidebar1_green.gif);
    background-repeat: repeat-x;
    padding: 0px 0px 0px 0px;
}

div.sidenewslettertext {
    height: 105px;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

div.sidenewsletter-in {
    height: 55px;
    background-image: url(../cgimages/sidebar1_green.gif);
    background-repeat: repeat-x;
    padding: 0px 0px 0px 0px;
}

div.sidenewslettertext-in {
    height: 35px;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

div.sidearticle {
    height: 125px;
    background-image: url(../cgimages/article-background2.jpg);
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
}

div.sidearticletext {
    max-height: 100px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
}

div.sidearticletext a, div.sidearticletext a:visited {
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
}

div.sidearticletext a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #EEE;
}

div.sidenav {
    background-image: url(../cgimages/sidenav-paper.gif);
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
}

div.sidenav3 {
    height: 840px;
    background-image: url(../cgimages/sidenav-paper.gif);
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
}

div.sidenavtext {
    padding: 0px 0px 0px 0px;
}

div.sidenavtext ul, div.sidenavtext li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
    line-height: 30px;
}

div.sidenavtext a, div.sidenavtext a:visited {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
    text-decoration: none;
}

div.sidenavtext a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #999;
    text-decoration: underline;
}

div.mainContent {
    min-height: 400px;
    background-image: url(../cgimages/main-background.gif);
    background-repeat: repeat-x;
}

div.page404 {
    background-image: url(../cgimages/main-background.gif);
    background-repeat: repeat-x;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
}

div.mainContent3 {
    min-height: 400px;
    background-image: url(../cgimages/main-background.gif);
    background-repeat: repeat-x;
}

div.mainContentText {
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
}

div.mainContentText a, div.mainContentText a:visited {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
}

div.mainContentText a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #999;
    text-decoration: underline;
}

div.rightbannerad {
    background: #999;
    padding: 0px 0px 0px 0px;
}

div.enotes {
    height: 131px;
}

div.ETT {
    height: 242px;
}

div.laborlaw {
    height: 131px;
}

div.summer {
    height: 200px;
}

div.siteteacher {
    height: 51px;
}

div.literacysite {
    position: relative;
    left: 10px;
    top: 40px;
    height: 131px;
}

div.sidebar2 {
    padding: 0 0 0 0;
}

div.footer {
    padding: 0 0 0 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #999;
}

div.footer a, div.footer a:visited, div.footer a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
}

/* FONTS */
h1, h3, h4 {
    font-family: Arial, sans-serif;
    color: #7ca53c;
    font-weight: normal;
    border-bottom: 1px solid;
    line-height: 28px;
}

a {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
    text-decoration: none;
}

a:link {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
    text-decoration: none;
}

a:visited {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
    text-decoration: none;
}

a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #0f93ca;
    text-decoration: underline;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

th {
    font-family: Verdana, Arial, Helvetica, sans-serif;

    font-size: 11px;
}

h2, h4, h5, h6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.style2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000000;
}

.style3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.style4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 16pt;
}

.style5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-variant: normal;
    text-transform: none;
    color: #F7EDA6;
    text-decoration: none;
}

.style6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

.level6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #FFFFFF;
}

/* TOP NAVIGATION */
div.horizontal {
    height: 33px;
}

div.nav-home {
    height: 33px;
}

div.nav-blog {
    height: 33px;
}

div.nav-sitemap {
    height: 33px;
}

div.nav-contact {
    height: 33px;
}

div.nav-home ul, div.nav-blog ul, div.nav-sitemap ul, div.nav-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.nav-home li, div.nav-blog li, div.nav-sitemap li, div.nav-contact li {
    float: left;
}

div.nav-home a {
    display: block;
    height: 33px;
    background-image: url(../cgimages/nav-home.gif);
}

div.nav-blog a {
    display: block;
    height: 33px;
    background-image: url('../cgimages/nav-blog.gif');
}

div.nav-sitemap a {
    display: block;
    height: 33px;
    background-image: url('../cgimages/nav-sitemap.gif');
}

div.nav-contact a {
    display: block;
    height: 33px;
    background-image: url('../cgimages/nav-contact.gif');
}

div.nav-home a:link, div.nav-home a:visited, div.nav-blog a:link, div.nav-blog a:visited, div.nav-sitemap a:link, div.nav-sitemap a:visited, div.nav-contact a:link, div.nav-contact a:visited {
    font-family: Arial;
    color: #5abb64;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

div.nav-home a:hover, div.nav-home a:active {
    background-image: url('../cgimages/nav-home-on.gif');
    font-family: Arial;
    color: #cccccc;
}

div.nav-blog a:hover, div.nav-blog a:active {
    background-image: url('../cgimages/nav-blog-on.gif');
    font-family: Arial;
    color: #cccccc;
}

div.nav-sitemap a:hover, div.rss a:active {
    background-image: url('../cgimages/nav-sitemap-on.gif');
    font-family: Arial;
    color: #cccccc;
}

div.nav-contact a:hover, div.nav-contact a:active {
    background-image: url('../cgimages/nav-contact-on.gif');
    font-family: Arial;
    color: #cccccc;
}

.table-parent {

}

.table-child {

}